.App {
  text-align: center;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}
